.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 70px;
}

.companies-title-container {
    border-bottom: 1px solid #7979797a;
    width: 100%;
    padding: 5px;
}

.companies-container {
    background-color: #1F1F1F;
    color: white;
    width: 280px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    border: 1px solid #7979797a;
    border-radius: 5px;
}

.companies-title {
    font-weight: 600;
    font-size: 25px;
    padding: 5px;
    margin: 0px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.welcome {
    animation: colorShift 2s infinite;
  }

  @keyframes colorShift {
    0% {
      color: #7581ff;;
    }
    50% {
      color: #ffffff;
    }
    100% {
      color: #7581ff;
    }
  }

  @media (min-width: 1350px) {
  }
  @media (max-width: 1000px) {
  }
  
  @media (max-width: 800px) {
  }
  
  @media (max-width: 500px) {
  }
  